/* ================= GLOBAL ================= */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    min-height:200vh;
    padding-top:90px; /* pour navbar fixe */
    margin-bottom:60px; /* espace pour footer */
    background:#f5f7fb;
}

.logo a {
    text-decoration: none;
    color: inherit;
    font-size:  24px;
    font-weight:bold ;
    letter-spacing: 2px;
    transition: 0.4s ease;
}
.logo a:hover{
    text-decoration: none;
}
/* ================= NAVBAR ================= */
nav{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:90px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 60px;
    backdrop-filter:blur(15px);
    background:rgba(12, 12, 12, 0.982);
    transition:0.4s;
    z-index:1000;
}

nav.scrolled{
    background:#2505f9;
    box-shadow:0 8px 25px rgba(251, 7, 7, 0.15);
}

/* Logo */
.logo{
    font-size:22px;
    font-weight:700;
    color:#3c08f9;
}

nav.scrolled .logo{
    color:rgb(255, 255, 255);
}

/* ================= LINKS ================= */
.nav-links{
    list-style:none;
    display:flex;
    gap:40px;
}

.nav-links > li{
    position:relative;
}

.nav-links a{
    text-decoration:none;
    color:#3f04ef;
    font-weight:500;
    transition:0.3s;
}

nav.scrolled .nav-links a{
    color:rgb(255, 255, 255);
}

/* ================= MEGA MENU ================= */
/*.mega-menu{
    position:absolute;
    top:60px;
    left:-200px;
    width:700px;
    background:white;
    padding:30px;
    display:flex;
    justify-content:space-between;
    opacity:0;
    visibility:hidden;
    transform:translateY(20px);
    transition:0.4s;
    box-shadow:0 20px 40px rgba(247, 4, 4, 0.15);
    border-radius:12px;
    z-index:999;
}
.nav-links li:hover .mega-menu{
    opacity:1;
    visibility:visible;
    transform:translateY(0);
}
*/

.mega-column{
    width:30%;
}

.mega-column h4{
    margin-bottom:15px;
    color:#1f3c66;
}

.mega-column a{
    display:block;
    margin-bottom:10px;
    font-size:14px;
    color:#555;
}

.mega-column a:hover{
    color:#00c6ff;
}

/* ================= CTA BUTTON ================= */
.cta{
    padding:8px 20px;
    background:#00c6ff;
    color:white !important;
    border-radius:25px;
}

/* ================= HAMBURGER ================= */
.hamburger{
    display:none;
    flex-direction:column;
    cursor:pointer;
}

.hamburger span{
    width:28px;
    height:3px;
    background:#1303f6;
    margin:5px 0;
    transition:0.3s;
}

nav.scrolled .hamburger span{
    background:white;
}

.hamburger.active span:nth-child(1){
    transform:rotate(45deg) translate(6px,6px);
}
.hamburger.active span:nth-child(2){
    opacity:0;
}
.hamburger.active span:nth-child(3){
    transform:rotate(-45deg) translate(7px,-7px);
}

/* ================= MOBILE ================= */
@media(max-width:1000px){
    nav{
        padding:0 25px;
    }

    .nav-links{
        position:absolute;
        top:90px;
        right:0;
        background:#080808;
        flex-direction:column;
        width:260px;
        height:calc(90vh - 80px);
        align-items:center;
        justify-content:center;
        transform:translateX(100%);
        transition:0.4s;
    }

    .nav-links.active{
        transform:translateX(0);
    }

    .nav-links a{
        color:white;
        font-size:18px;
    }

    .mega-menu{
        display:none;
    }

    .hamburger{
        display:flex;
    }
}

/* ================= FOOTER FIXE ================= */
footer{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height:60px;
    background:#0368f7;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:14px;
    z-index:1000;
    box-shadow:0 -5px 15px rgba(0, 0, 0, 0.1);
}

footer a{
    color:#f5f3f8;
    text-decoration:none;
    margin-left:5px;
}