*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', sans-serif;
}

body{
    background:#f4f7fa;
    color:#333;
}

/* HEADER */
header{
    background:#0d0d0e;
    padding:20px 60px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    color:white;
}

header h1{
    font-size:24px;
}
.logo a {
    text-decoration: none;
    color: inherit;
}
.logo a:hover{
    text-decoration: none;
}
/* HERO SECTION */
.hero{
     background:linear-gradient(rgba(127, 134, 145, 0.029),rgba(54, 65, 82, 0.708)),
    url("https://www.decoeur.be/wp-content/uploads/conception-site-web.jpg") center/cover;
    color:white;
    text-align:center;
    padding:120px 20px;
}

.hero h2{
    font-size:40px;
    margin-bottom:20px;
}

.hero p{
    max-width:700px;
    margin:auto;
    font-size:18px;
}

/* SOLUTIONS */
.solutions{
    padding: 20px;
    
    margin: auto;
 
    

}

.solutions h2{
    text-align:center;
    margin-bottom:60px;
    font-size:32px;
    color:#0d47a1;
}

.solution-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:30px;
}

.card{
    background:white;
    padding:30px;
    border-radius:12px;
    box-shadow:0 10px 25px rgba(0,0,0,0.08);
    transition:0.4s;
}

.card:hover{
    transform:translateY(-10px);
}

.card h3{
    margin-bottom:15px;
    color:#0d47a1;
    text-align: center;
}

.card p{
    font-size:15px;
    line-height:1.6;
    text-align: center;
}

/* CTA */
.cta{
    background:#0d47a1;
    color:white;
    text-align:center;
    padding:70px 20px;
}

.cta h2{
    margin-bottom:20px;
}

.cta a{
    background:white;
    color:#0d47a1;
    padding:12px 30px;
    border-radius:30px;
    text-decoration:none;
    font-weight:bold;
    transition:0.3s;
}

.cta a:hover{
    background:#bbdefb;
}

/* FOOTER */
footer{
    background:#0b3c91;
    color:white;
    text-align:center;
    padding:20px;
}
/* ANIMATION */
@keyframes fadeIn{
    from{opacity:0; transform:translateY(30px);}
    to{opacity:1; transform:translateY(0);}
}

@media(max-width:768px){
    .hero h1{
        font-size:35px;
    }
}