        body {
            margin: 0;
            font-family: 'Segoe UI', sans-serif;
            background-color: #f4f6f9;
        }

        header {
            background: linear-gradient(90deg, #595e64, #ccdbec);
            color: white;
            padding: 25px;
            text-align: center;
        }


        .container {
            max-width: 1000px;
            margin: auto;
            padding: 50px 20px;
        }

        h2 {
            text-align: center;
            color: #0d47a1;
        }

        .form-box {
            background: white;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 4px 10px rgba(0,0,0,0.1);
            margin-top: 30px;
        }

        label {
            font-weight: bold;
        }

        input, select, textarea {
            width: 100%;
            padding: 10px;
            margin: 8px 0 20px 0;
            border-radius: 5px;
            border: 1px solid #ccc;
        }

        button {
            background: #0d47a1;
            color: white;
            padding: 12px;
            border: none;
            border-radius: 5px;
            width: 100%;
            font-size: 16px;
            cursor: pointer;
        }

        button:hover {
            background: #1565c0;
        }

        footer {
            background: #0b3c91;
            color: white;
            text-align: center;
            padding: 15px;
            margin-top: 40px;
        }

        .success {
            display: none;
            background: #e8f5e9;
            color: green;
            padding: 15px;
            border-radius: 5px;
            text-align: center;
        }