*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', sans-serif;
}

body{
    background:#f5f8fc;
    color:#333;
    line-height:1.6;
}

/* HEADER */
header{
    background:#171718;
    padding:20px 60px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    color:white;
}

header h1{
    font-size:24px;
}
/* HERO */
.hero{
    background:linear-gradient(rgba(127, 134, 145, 0.85),rgba(54, 65, 82, 0.85)),
    url("https://images.unsplash.com/photo-1504384308090-c894fdcc538d") center/cover;
    color:white;
    text-align:center;
    padding:120px 20px;
}

.hero h2{
    font-size:42px;
    margin-bottom:20px;
}

.hero p{
    max-width:700px;
    margin:auto;
    font-size:18px;
}

/* SERVICES SECTION */
.services{
    padding:80px 60px;
}

.services h2{
    text-align:center;
    margin-bottom:60px;
    font-size:32px;
    color:#0d47a1;
}

.service-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:35px;
}

.service-card{
    background:white;
    padding:35px;
    border-radius:15px;
    box-shadow:0 15px 35px rgba(0,0,0,0.08);
    transition:0.4s;
    position:relative;
    overflow:hidden;
}

.service-card:hover{
    transform:translateY(-12px);
}

.btn{
    padding:15px 35px;
    background:#1565c0;
    border:none;
    color:white;
    font-size:16px;
    border-radius:30px;
    cursor:pointer;
    transition:0.4s;
}

.btn:hover{
    background:white;
    color:#1565c0;
    transform:scale(1.05);
}
.service-card::before{
    content:"";
    position:absolute;
    width:100%;
    height:4px;
    background:#0d47a1;
    top:0;
    left:0;
}

.service-card h3{
    margin-bottom:15px;
    color:#0d47a1;
}

.service-card p{
    font-size:15px;
}

/* PROCESS SECTION */
.process{
    background:white;
    padding:80px 60px;
}

.process h2{
    text-align:center;
    margin-bottom:50px;
    color:#0d47a1;
}

.steps{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    gap:30px;
}

.step{
    flex:1;
    min-width:220px;
    background:#f0f4fb;
    padding:30px;
    border-radius:12px;
    text-align:center;
    transition:0.3s;
}

.step:hover{
    background:#e3ecff;
}

.step h4{
    margin-bottom:10px;
    color:#0d47a1;
}

/* CTA */
.cta{
    background:#0d47a1;
    color:white;
    text-align:center;
    padding:70px 20px;
}

.cta a{
    background:white;
    color:#0d47a1;
    padding:12px 30px;
    border-radius:30px;
    text-decoration:none;
    font-weight:bold;
    transition:0.3s;
}

.cta a:hover{
    background:#bbdefb;
}

/* FOOTER */
footer{
    background:#0b3c91;
    color:white;
    text-align:center;
    padding:20px;
}