*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Segoe UI', sans-serif;
    background:#f5f7fa;
    color:#333;
}
/* HERO */
.hero{
    background:linear-gradient(rgba(165, 162, 189, 0.6), rgba(0,0,0,0.6)),
    url("https://images.unsplash.com/photo-1521737604893-d14cc237f11d");
    background-size:cover;
    background-position:center;
    height:60vh;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    text-align:center;
    padding:20px;
}

.hero h1{
    font-size:55px;
    margin-bottom:20px;
    letter-spacing:3px;
}

.hero p{
    font-size:20px;
    margin-bottom:30px;
    opacity:0.9;
}

.btn{
    padding:15px 35px;
    background:#1565c0;
    border:none;
    color:white;
    font-size:16px;
    border-radius:30px;
    cursor:pointer;
    transition:0.4s;
}

.btn:hover{
    background:white;
    color:#1565c0;
    transform:scale(1.05);
}

/* SECTION CORPORATE */
.section{
    padding:100px 60px;
    text-align:center;
}

.section h2{
    font-size:35px;
    margin-bottom:20px;
    color:#1565c0;
}

.section p{
    max-width:800px;
    margin:auto;
    font-size:18px;
    line-height:1.6;
}

/* CARDS */
.cards{
    display:flex;
    justify-content:center;
    gap:30px;
    margin-top:50px;
    flex-wrap:wrap;
}

.card{
    background:white;
    padding:40px;
    border-radius:15px;
    width:300px;
    box-shadow:0 15px 40px rgba(0,0,0,0.1);
    transition:0.4s;
}

.card:hover{
    transform:translateY(-10px);
}

.card h3{
    color:#1565c0;
    margin-bottom:15px;
}

.director{
    background: linear-gradient(135deg,#1f3c66, #142a47);
    padding: 40px 30px;
    border-radius: 12px;
    color: white;
    margin: 30px 0;
    box-shadow: 0 8px 25px rgba(0,0,0,0.15);
    transition: 0.3s ease;
}

.director:hover{
    transform: translateY(-5px);
    box-shadow: 0 12px 35px rgba(0,0,0,0.25);
}
.director h2::after{
    content: "";
    width: 60px;
    height: 3px;
    background: #00c6ff;
    position: absolute;
    bottom: -8px;
    left: 0;
    border-radius: 5px;
}
.director p{
    font-size: 16px;
    line-height: 1.7;
    opacity: 0.9;
    margin-top: 20px;
    max-width: 600px;
    text-align:justify;
}
/* FOOTER */
footer{
    background:#0d47a1;
    color:white;
    text-align:center;
    padding:30px;
}

/* ANIMATION */
@keyframes fadeIn{
    from{opacity:0; transform:translateY(30px);}
    to{opacity:1; transform:translateY(0);}
}

@media(max-width:768px){
    .hero h1{
        font-size:30px;
    }
}